---
name: all_url_check

'on':
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '0 5,13 * * *'

jobs:
  run_lychee:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633  # v4

      - name: link_check with lychee-action
        id: link_check
        uses: lycheeverse/lychee-action@v1.9.3
        with:
          args: >
           --verbose
           --insecure
           --no-progress
           --accept 200,999
           **/*.md **/*.py **/*.toml
          fail: true
...
