---
name: generate_and_upload_coverage_data

'on':
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:

jobs:
  generate_and_upload_coverage_data:
    name: generate_and_upload_coverage_data
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Validate codecov.yml file
        run: |
          ./validate_codecov_yml.sh

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Set up Poetry
        uses: snok/install-poetry@v1

      - name: Install dependencies
        run: |
          poetry install --with dev

      - name: Install language dependencies
        working-directory: ${{github.workspace}}/system_setup_scripts
        run: |
          sudo apt-get update
          sudo ./install_all.sh
          ./install_all_no_sudo.sh

      - name: Generate coverage data
        run: |
          poetry run coverage run --branch -m pytest \
              --composition_chain_size=0 \
              --iteration_size=0
          poetry run coverage xml --omit="tests/*"
          poetry run coverage html --omit="tests/*"
          poetry run coverage report --omit="tests/*"

      - name: Fix code coverage paths for SonarCloud
        # yamllint disable rule:line-length
        run: |
          cp coverage.xml coverage_for_sonarcloud.xml
          sed -i 's/\/home\/runner\/work\/string_to_code_proj\/string_to_code_proj/\/github\/workspace/g' coverage_for_sonarcloud.xml
        # yamllint enable rule:line-length

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true

      - name: Upload coverage report to Codecov (tokenless)
        if: >-
          github.event_name == 'pull_request' &&
          github.event.pull_request.head.repo.full_name != github.repository
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true

      - name: Upload coverage report to Codacy
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: coverage.xml

      - name: Upload coverage report as an artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage_report
          path: |
            coverage.xml
            htmlcov
          if-no-files-found: error
          retention-days: 5
...
