---
name: python_test

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '25 0 * * 2,5'

jobs:
  python_test:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04
        python-version: [3.8, 3.11]

    steps:
      - name: Checkout
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4

      - name: Set up Python ${{matrix.python-version}}
        uses: actions/setup-python@v4
        with:
          python-version: ${{matrix.python-version}}

      - name: Set up Poetry
        uses: snok/install-poetry@v1

      - name: Install basic dependencies
        run: |
          poetry install --with dev

      - name: Run liter
        run: |
          ./check_all_python_scripts.sh

      - name: Install language dependencies
        working-directory: ${{github.workspace}}/system_setup_scripts
        run: |
          sudo apt-get update
          sudo ./install_all.sh
          ./install_all_no_sudo.sh

      - name: Test with pytest
        run: |
          poetry run pytest -vv

      - name: Run all examples
        working-directory: ${{github.workspace}}/examples
        run: |
          ./run_all_examples.sh
...
