---
name: python_test

'on':
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '25 0 * * 2'

permissions:
  contents: read

jobs:
  python_test:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
        python-version: [3.11]

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Python ${{matrix.python-version}}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{matrix.python-version}}

      - name: Set up Poetry
        uses: snok/install-poetry@76e04a911780d5b312d89783f7b1cd627778900a # v1.4.1

      - name: Install basic dependencies
        run: |
          poetry install --with dev

      - name: Run liter
        run: |
          ./check_all_python_files.sh

      - name: Install language dependencies
        working-directory: ${{github.workspace}}/system_setup_scripts
        run: |
          sudo apt-get update
          sudo ./install_all.sh
          ./install_all_no_sudo.sh

      - name: Test with pytest
        run: |
          poetry run pytest -vv

      - name: Run all examples
        working-directory: ${{github.workspace}}/examples
        run: |
          ./run_all_examples.sh
...
